{% extends 'base.html' %}
{% block body %}
<div class="container px-4 py-5" id="hanging-icons">
    <marquee direction="right">
    <h2 class="pb-2 border-bottom">About Us</h2>
    </marquee>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            </div>
            <div>
                <h3 class="fs-2">Daiwik Gupta</h3>
                <p>Web Developer</p>
                <p>I am Daiwik, the developer of this website. I have been programming every day in the past 2
                    months to bring this website to
                    life. I try my best to learn from every piece of code I can set my hands on.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            </div>
            <div>
                <h3 class="fs-2">Urvi Garg</h3>
                <p>Content Creator</p>
                <p>I am Urvi, the content creator of the website. I am responsible for writing the information the website holds. I have
                also helped design the logo and color theme for the website.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            </div>
            <div>
                <h3 class="fs-2">Aarav Verma</h3>
                <p>Designer</p>
                <p>I am Aarav, the designer of the website. I have designed the logo, and layouts for the website. I have also found images
                and written some content.</p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}