{% extends "base.html" %} {% block body %}

<style>::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}</style>

<div class="container my-3">

    <div class="row row-cols-2 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="static/img/Andhra pradesh/Image20231213191746.jpg" alt="Introduction" style="height: 300px; width: auto;">
                <div class="card-body">
                    <h5><strong>Introduction:</strong></h5>
                    <p class="card-text">Nestled in the southeastern part of India, Andhra Pradesh is a state known for its diverse landscapes, rich history, and
                    vibrant culture. From ancient temples to modern industries, this region has something to offer for every traveller and
                    enthusiast.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static\img\Andhra pradesh\geo.jpg" alt="Geography">
                <div class="card-body">
                    <h5><Strong>Geograpy:</Strong></h5>
                    <p class="card-text">Andhra Pradesh is bordered by Telangana to the north, Odisha to the northeast, Tamil Nadu to the south, Karnataka to the
                    west, and the Bay of Bengal to the east. The state's varied topography includes the Eastern Ghats, fertile plains along
                    the Godavari and Krishna rivers, and a picturesque coastline.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static/img/Andhra pradesh/1_4aJfmXiiR61JwEwkTCRt1A.jpg" alt="Amaravati Stupa" style="height: 365px; width: auto;">
                <div class="card-body">
                    <h5><strong>History and Heritage:</strong></h5>
                    <p class="card-text">Andhra Pradesh boasts a history that dates back to ancient times. The Satavahana and Vijayanagara Empires have left an
                    indelible mark on the state. Amaravati, once the capital of the Satavahanas, is home to the famous Amaravati Stupa,
                    showcasing intricate Buddhist art.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="static\img\Andhra pradesh\cultural.jpg" alt="Kuchipudi Dance">
                <div class="card-body">
                    <h5><strong>Cultural Tepestry:</strong></h5>
                    <p class="card-text">The state is a melting pot of diverse cultures, reflected in its festivals, dance forms, and music. Kuchipudi, a
                    classical dance form, originated here and continues to enchant audiences worldwide. Festivals like Ugadi, Sankranti, and
                    Pongal are celebrated with immense joy, bringing communities together.</p>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static\img\Andhra pradesh\temple.jpg" alt="Veerabhadra Temple" style="height: 365px; width: auto;">
                <div class="card-body">
                    <h5><strong>Spirituality and Temples:</strong></h5>
                    <p class="card-text">Andhra Pradesh is dotted with temples that resonate with spiritual significance. Tirupati, home to the revered
                    Venkateswara Temple, attracts millions of pilgrims annually. Other notable temples include the ancient Lepakshi
                    Veerabhadra Temple and the Kanaka Durga Temple in Vijayawada.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static\img\Andhra pradesh\1-1521453459.jpg" alt="Araku Valley">
                <div class="card-body">
                    <h5><strong>Natural Beauty</strong></h5>
                    <p class="card-text">The state's natural beauty is evident in places like Araku Valley, nestled in the Eastern Ghats, and the picturesque
                    Horsley Hills. The pristine beaches of Visakhapatnam and the Godavari and Krishna river deltas offer serene getaways for
                    nature lovers.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="static\img\Andhra pradesh\economy.jpg" alt="" style="height: 480px; width: auto;">
            
                <div class="card-body">
                    <h5><strong>Ecnomic Hub:</strong></h5>
                    <p class="card-text">Beyond its cultural richness, Andhra Pradesh is a significant economic player. The state is a hub for information
                    technology, pharmaceuticals, and manufacturing industries. Cities like Visakhapatnam and Vijayawada contribute
                    significantly to the state's economic development.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static\img\Andhra pradesh\Image20231213191910.jpg" alt="Gongura Pachadi">
                <div class="card-body">
                    <h5><strong>Culinary Delights:</strong></h5>
                    <p class="card-text">Andhra cuisine, famous for its spicy and flavorful dishes, is a treat for food enthusiasts. The renowned Andhra biryani,
                    Gongura pachadi, and fiery pickles are must-try delicacies that showcase the state's culinary expertise. Andhra Pradesh
                    is also the largest producer of eggs in the country and is called the "Egg Bowl of Asia"</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static\img\Andhra pradesh\conclusion.jpg" alt="Conclusion Imgae">
                <div class="card-body">
                    <h5><strong>Conclusion</strong></h5>
                    <p class="card-text">Andhra Pradesh, with its blend of tradition and modernity, is a treasure trove for those seeking a diverse and enriching
                    experience. Whether you're a history lover, a food buff, or a nature enthusiast, this state has something special to
                    offer.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock body%}