{% extends "base.html" %}

<!-- {%block head%}
<style>
    body{
        overflow: hidden;
    }
</style>

{% endblock head %} -->

{% block body %}
<iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3507.2347235118214!2d77.31304257495088!3d28.472476991331927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1702816065425!5m2!1sen!2sin"
    style="width: 100%; height: 600px;" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
<form action="/feed" method="post" style="position: relative;bottom: 418px;
    width: 343px;
    background: white;
    left: 1083px;">
    {% csrf_token %}
        <div class="container py-3">
            <h4><strong>Feedback</strong></h4>
            <div class="input-group py-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Name:</span>
                <input type="text" class="form-input form-control" name="Name">
            </div>
            <div class="input-group py-3">
                <span class="input-group-text " id="inputGroup-sizing-default">Email:</span>
                <input type="email" class="form-input form-control" name="Email">
            </div>
            <div class="input-group py-3">
                <span class="input-group-text " id="inputGroup-sizing-default">Comment:</span>
                <textarea class="form-textarea form-control" name="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
        </div>
</form>
<h5>{{name}}</h5>
{% endblock body %}