<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/loginUser" method="post">
        {% csrf_token %}
        <!-- Text input for username -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="name" required>
        <br><br>
    
        <!-- Password input -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
    
        <!-- Submit button -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>