{% extends 'base.html' %}{% block body %}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
      aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
              <img src="static/img/Home/taj mahal.jpeg" alt="" style="width: 100%; height: 570px;">
    </div>
    <div class="container">
      <div class="carousel-caption">
        <h1>Taj Mahal, Agra.</h1>
      </div>
    </div>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item">
      <img src="static\img\Home\hawa-mahal.jpg" alt="" style="width: 100%; height: 570px;">
      <div class="container">
        <div class="carousel-caption">
          <h1>Hawa Mahal, Jaipur</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static\img\Home\ganga.jpeg" alt="" style="width: 100%; height: 570px;">

      <div class="container">
        <div class="carousel-caption">
          <h1>Ganga River</h1>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <br><br><br>
  <marquee direction="right" scrollamount="9">
  <h1>All About India</h1></marquee>
  <div class="col" style="width: 65%; float: left; margin-left: 45px;">
    <div class="card shadow-sm">
      <div class="card-body">
        <p class="card-text" style="font-size: 17px;">India, located in South Asia, is a country known for its vibrant cultural, ancient history,
          and diverse landscapes. With
          a population of over 1.4 billion people, India is the world's most populous country and the biggest
          democracy.<br><br>

          India is characterized by diverse geographical features, including the towering Himalayan mountain range in
          the north,
          the vast Gangetic plains, the Thar Desert in the west, and the scenic coastline along the Arabian Sea and the
          Bay of
          Bengal.<br><br>

          India boasts a rich cultural heritage that spans thousands of years. From the ancient Indus Valley
          Civilization to the
          Mughal and British periods, each era has left an indelible mark on the country's art, architecture, and
          traditions like
          the Taj Mahal, Qutub Minar, and ancient temples that showcase exquisite craftsmanship. The country is also
          home to many
          classical dance forms, traditional music, and art that have been passed down through generations.<br><br>

          India is a linguistic library, with over 2,000 distinct languages spoken across the country. Hindi and English
          are the
          official languages, but each state has its own regional language, contributing to the linguistic diversity
          that is a
          hallmark of Indian society.<br><br>

          India is the birthplace of major religions such as Hinduism, Buddhism, Jainism, and Sikhism. It is also home
          to
          significant populations of Muslims, Christians, Sikhs, Buddhists, and others, making it religiously diverse
          and
          tolerant.<br><br>

          Indian cuisine is renowned worldwide for its rich flavors and aromatic spices. Each region has its own
          culinary
          specialties, ranging from spicy curries in the south to tandoori delights in the north. Popular dishes include
          biryani,
          dosa, samosas, and a variety of sweets like gulab jamun and jalebi. The use of spices like cumin, coriander,
          and
          turmeric is a hallmark of Indian cooking.<br><br>

          India has a rapidly growing economy and is a major player in the global market. Information technology,
          pharmaceuticals,
          agriculture, and manufacturing are key sectors contributing to the country's economic development. The
          entrepreneurial
          spirit of the Indian people is evident in the success of numerous startups and tech companies. Cities like
          Mumbai,
          Delhi, and Bangalore are hubs of economic activity, while rural areas sustain agriculture, which is the
          livelihood of a
          large portion of the population.<br><br>

          India is a cache of tourist attractions. From the iconic Taj Mahal and the ancient temples of Varanasi to the
          scenic
          beauty of Kerala's backwaters and the bustling markets of Jaipur, every corner of the country has something
          unique to
          offer. Numerous national parks and sanctuaries are dedicated to the conservation of endangered species. The
          Bengal
          tiger, Indian elephant, Indian rhinoceros, and various species of deer are among the iconic wildlife found in
          India.<br><br>

          India is known for its colorful and joyous festivals, celebrating religious, cultural, and seasonal occasions.
          Diwali,
          Holi, Eid, Navratri, and Pongal are just a few examples of the vibrant festivals that bring people together
          from diverse
          backgrounds.<br><br>

          India is a land of contrasts, where ancient traditions meet modern aspirations. Its diverse landscapes, rich
          cultural
          heritage, and warm hospitality make it a must-visit destination for anyone seeking a truly immersive
          experience.</p>

      </div>
    </div>
  </div>

  <img src="static\img\Home\flora fountain.jpg" width="300px"
    height="225px" alt="Flora Fountain" style="margin-left: 45px; margin-bottom: 20px;">
  <img src="static\img\Home\ladakh.png" width="300px"
    height="225px" alt="Flora Fountain" style="margin-left: 45px; margin-bottom: 20px;">
  <img src="static\img\Home\Nohkalikai Falls.jpg" width="300px"
    height="225px" alt="Flora Fountain" style="margin-left: 45px; margin-bottom: 20px;">
  <img src="static\img\Home\sikkim.png" width="300px"
    height="225px" alt="Flora Fountain" style="margin-left: 45px; margin-bottom: 20px;">
  <img src="static\img\Home\valley of flowers.jpg" width="300px"
    height="225px" alt="Flora Fountain" style="margin-left: 45px; margin-bottom: 20px;">
{% endblock body %}
